section{
	display: flex;
	justify-content: center;
}
.contenido{
	margin: 50px 0 30px 0;
	display: table-cell;
	padding: 10px;
	width: 30%;
}
.vista-previa {
	background-color: green;
	height: 300px;
	line-height: 300px;
	text-align: center;
	margin-bottom: 15px;
	position: relative;
}
.vista-previa > div {
	vertical-align: middle;
	line-height: normal;
}
.centrado {
	vertical-align: middle;
	display: inline-block;
}
.texto-centrado{
	text-align: center;
}
.titulo{
	font-size: 60px;
	overflow: hidden;
}
.precio{
	position: absolute;
}
.precio div{
	color: white;
	background-color: black;
	padding: 5px;
}
label{
	color: gray;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}
.input-personalizar{
  width: 80%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-personalizar:focus{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:1px solid #5AB0DB;
    border-radius:0;
}
.contenedor-de-personalizacion{
	display: flex;		
}
.circulo-color{
	height: 30px;
	width: 30px;		
	margin: 5px; 
	border-radius: 15px;
}
input[type=radio]{
    display: block;
    margin: 0 auto;   
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.orange{
	background-color: orange;
}
.pink{
	background-color: pink;
}
.tamanio-fuente > span{
	font-size: 1.2em;
	margin: 0 auto;
	padding: 5px;
}
.ubicacion{
	border: 1px solid pink;
	width: 30px;
	height: 30px;
	position: relative;
	margin: 5px;
}
.ubicacion > div{
	width: 15px;
	height: 10px;
	background-color: red;
	position: absolute;
}
.abajo{
	bottom: 0px;
}
.derecha{
	right: 0px;
}
.izquierda{
	left: 0px;
}
.arriba{
	top:0px;
}
.fondo-color{
	width: 30px;
	height: 30px;
	margin: 5px;
}