/* ACA QUEDAN ESPECIFICAMENTE LOS ESTILOS DE CONTACTO */
/* ASÍ SE EVITA LA REPETICION DE CÓDIGO */

/***********************************************************************************************************/
#logo{
    padding: 10px;
    padding-right: 17px;
}
.secciondatos{
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-around;
}
.contenedorform{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
input{
    margin-bottom: 10px;
    height: 20px;
}
.formulario{
    width: 300px;
    display: flex;
    flex-direction: column;
}
#campo{
    border-radius: 5px;
    border: 1px grey solid;
}
.enviar{
    width: 60px;
    margin-top: 10px;
    margin-left: 235px;
    background-color: #047c94;
    border: none;
    border-radius: 5px;
    color: white;
}
.datoscontacto{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    border: 1px grey solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.datoscontacto p{
    margin: 0;
    text-align: center;
    display: inline;
}
.seccionmapa{
    margin: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubicacion{
    text-align: center;
}
.mapa{
    display: inline;
}